.progress {
	width: 134.4px;
	height: 67.2px;
	border-radius: 224px 224px 0 0;
	margin-top: 40px;
	margin-bottom: 40px;
	-webkit-mask: repeating-radial-gradient(farthest-side at bottom ,#0000 0,#000 1px 12%,#0000 calc(12% + 1px) 20%);
	background: radial-gradient(farthest-side at bottom,#9d5cff 0 95%,#0000 0) bottom/0% 0% no-repeat
			#dbdcef;
	animation: progress-e37qus 2s infinite steps(3);
}

@keyframes progress-e37qus {
	100% {
		 background-size: 120% 120%;
	}
}