.leftToRightFadeInAnimation-4 {
	 -webkit-animation: fadein 1s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: fadein 1s;
	/* Firefox <
	 16 */
	 -ms-animation: fadein 1s;
	/* Internet Explorer */
	 -o-animation: fadein 1s;
	/* Opera <
	 12.1 */
	 animation: fadein 1s;
}
 .leftToRightFadeInAnimation-4-bridge {
	 -webkit-animation: fadeinBridge 0.6s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: fadeinBridge 0.6s;
	/* Firefox <
	 16 */
	 -ms-animation: fadeinBridge 0.6s;
	/* Internet Explorer */
	 -o-animation: fadeinBridge 0.6s;
	/* Opera <
	 12.1 */
	 animation: fadeinBridge 0.6s;
}
 .leftToRightFadeInAnimation-4-bridge-false {
	 -webkit-animation: fadeinBridge 0.4s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: fadeinBridge 0.4s;
	/* Firefox <
	 16 */
	 -ms-animation: fadeinBridge 0.4s;
	/* Internet Explorer */
	 -o-animation: fadeinBridge 0.4s;
	/* Opera <
	 12.1 */
	 animation: fadeinBridge 0.4s;
}
 @keyframes fadeinBridge {
	 from {
		 opacity: 0;
		 transform: translateX(-40px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
/* Firefox <
 16 */
 @-moz-keyframes fadeinBridge {
	 from {
		 opacity: 0;
		 transform: translateX(-40px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
 @keyframes fadein {
	 from {
		 opacity: 0.4;
		 transform: translateX(-15px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
/* Firefox <
 16 */
 @-moz-keyframes fadein {
	 from {
		 opacity: 0.4;
		 transform: translateX(-15px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
 .rightToLeftFadeInAnimation-4-stableswap {
	 -webkit-animation: rightToleftF 1s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: rightToleftF 1s;
	/* Firefox <
	 16 */
	 -ms-animation: rightToleftF 1s;
	/* Internet Explorer */
	 -o-animation: rightToleftF 1s;
	/* Opera <
	 12.1 */
	 animation: rightToleftF 1s;
}
 .rightToLeftFadeInAnimation-4-floater {
	 -webkit-animation: rightToleftFloater 2s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: rightToleftFloater 2s;
	/* Firefox <
	 16 */
	 -ms-animation: rightToleftFloater 2s;
	/* Internet Explorer */
	 -o-animation: rightToleftFloater 2s;
	/* Opera <
	 12.1 */
	 animation: rightToleftFloater 2s;
}
 .rightToLeftFadeInAnimation-4 {
	 -webkit-animation: rightToleftFBridge 0.6s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: rightToleftFBridge 0.6s;
	/* Firefox <
	 16 */
	 -ms-animation: rightToleftFBridge 0.6s;
	/* Internet Explorer */
	 -o-animation: rightToleftFBridge 0.6s;
	/* Opera <
	 12.1 */
	 animation: rightToleftFBridge 0.6s;
}
 @keyframes rightToleftFBridge {
	 from {
		 opacity: 0;
		 transform: translateX(40px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
/* Firefox <
 16 */
 @-moz-keyframes rightToleftFBridge {
	 from {
		 opacity: 0;
		 transform: translateX(40px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
 .rightToLeftFadeOutAnimation-4 {
	 -webkit-animation: rightToleftFOBridge 0.6s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: rightToleftFOBridge 0.6s;
	/* Firefox <
	 16 */
	 -ms-animation: rightToleftFOBridge 0.6s;
	/* Internet Explorer */
	 -o-animation: rightToleftFOBridge 0.6s;
	/* Opera <
	 12.1 */
	 animation: rightToleftFOBridge 0.6s;
}
 @keyframes rightToleftFOBridge {
	 from {
		 opacity: 1;
		 transform: translateX(0px);
	}
	 to {
		 opacity: 0;
		 transform: translateX(-40px);
	}
}
/* Firefox <
 16 */
 @-moz-keyframes rightToleftFOBridge {
	 from {
		 opacity: 1;
		 transform: translateX(0px);
	}
	 to {
		 opacity: 0;
		 transform: translateX(-40px);
	}
}
 .leftToRightFadeOutAnimation-4 {
	 -webkit-animation: leftToRightFOBridge 0.6s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: leftToRightFOBridge 0.6s;
	/* Firefox <
	 16 */
	 -ms-animation: leftToRightFOBridge 0.6s;
	/* Internet Explorer */
	 -o-animation: leftToRightFOBridge 0.6s;
	/* Opera <
	 12.1 */
	 animation: leftToRightFOBridge 0.6s;
}
 @keyframes leftToRightFOBridge {
	 from {
		 opacity: 1;
		 transform: translateX(0px);
	}
	 to {
		 opacity: 0;
		 transform: translateX(40px);
	}
}
/* Firefox <
 16 */
 @-moz-keyframes leftToRightFOBridge {
	 from {
		 opacity: 1;
		 transform: translateX(0px);
	}
	 to {
		 opacity: 0;
		 transform: translateX(40px);
	}
}
 .bottomToTopFadeInAnimation-4-floater {
	 -webkit-animation: bottomToTopFloater 1s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: bottomToTopFloater 1s;
	/* Firefox <
	 16 */
	 -ms-animation: bottomToTopFloater 1s;
	/* Internet Explorer */
	 -o-animation: bottomToTopFloater 1s;
	/* Opera <
	 12.1 */
	 animation: bottomToTopFloater 1s;
}
 .topToBottomFadeInAnimation-4-floater {
	 -webkit-animation: topToBottomFloater 1s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: topToBottomFloater 1s;
	/* Firefox <
	 16 */
	 -ms-animation: topToBottomFloater 1s;
	/* Internet Explorer */
	 -o-animation: topToBottomFloater 1s;
	/* Opera <
	 12.1 */
	 animation: topToBottomFloater 1s;
}
 .topToBottomFadeInAnimation-1-header {
	 -webkit-animation: topToBottomFloater 0.1s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: topToBottomFloater 0.1s;
	/* Firefox <
	 16 */
	 -ms-animation: topToBottomFloater 0.1s;
	/* Internet Explorer */
	 -o-animation: topToBottomFloater 0.1s;
	/* Opera <
	 12.1 */
	 animation: topToBottomFloater 0.1s;
}
 @keyframes rightToleftF {
	 from {
		 opacity: 0.4;
		 transform: translateX(15px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
 @keyframes rightToleftFloater {
	 from {
		 opacity: 0.4;
		 transform: translateX(50px);
	}
	 to {
		 opacity: 1;
		 transform: translateX(0px);
	}
}
 @keyframes bottomToTopFloater {
	 from {
		 opacity: 0.4;
		 transform: translateY(100px);
	}
	 to {
		 opacity: 1;
		 transform: translateY(0px);
	}
}
 @keyframes topToBottomFloater {
	 from {
		 opacity: 0.2;
		 transform: translateY(-20px);
	}
	 to {
		 opacity: 1;
		 transform: translateY(0px);
	}
}
/* Firefox <
 16 */
 @-moz-keyframes rightToleftF {
	 from {
		 opacity: 1;
		 transform: translateX(15px);
	}
	 to {
		 opacity: 0.4;
		 transform: translateX(0px);
	}
}
 .topToBottomFadeInAnimation-4 {
	 -webkit-animation: topToBottomBridge 3s;
	/* Safari, Chrome and Opera >
	 12.1 */
	 -moz-animation: topToBottomBridge 3s;
	/* Firefox <
	 16 */
	 -ms-animation: topToBottomBridge 3s;
	/* Internet Explorer */
	 -o-animation: topToBottomBridge 3s;
	/* Opera <
	 12.1 */
	 animation: topToBottomBridge 3s;
}
 @keyframes topToBottomBridge {
	 from {
		 opacity: 0.2;
		 transform: translateY(-20px);
	}
	 to {
		 opacity: 1;
		 transform: translateY(0px);
	}
}
 @-moz-keyframes topToBottomBridge {
	 from {
		 opacity: 0.2;
		 transform: translateY(-20px);
	}
	 to {
		 opacity: 1;
		 transform: translateY(0px);
	}
}
 .lds-default {
	 margin-right: auto;
	 margin-left: auto;
	 position: relative;
	 width: 80px;
	 height: 80px;
}
 .lds-default div {
	 position: absolute;
	 width: 6px;
	 height: 6px;
	 background: var(--theme-primary-button-bg);
	 border-radius: 50%;
	 animation: lds-default 1.2s linear infinite;
}
 .lds-default div:nth-child(1) {
	 animation-delay: 0s;
	 top: 37px;
	 left: 66px;
}
 .lds-default div:nth-child(2) {
	 animation-delay: -0.1s;
	 top: 22px;
	 left: 62px;
}
 .lds-default div:nth-child(3) {
	 animation-delay: -0.2s;
	 top: 11px;
	 left: 52px;
}
 .lds-default div:nth-child(4) {
	 animation-delay: -0.3s;
	 top: 7px;
	 left: 37px;
}
 .lds-default div:nth-child(5) {
	 animation-delay: -0.4s;
	 top: 11px;
	 left: 22px;
}
 .lds-default div:nth-child(6) {
	 animation-delay: -0.5s;
	 top: 22px;
	 left: 11px;
}
 .lds-default div:nth-child(7) {
	 animation-delay: -0.6s;
	 top: 37px;
	 left: 7px;
}
 .lds-default div:nth-child(8) {
	 animation-delay: -0.7s;
	 top: 52px;
	 left: 11px;
}
 .lds-default div:nth-child(9) {
	 animation-delay: -0.8s;
	 top: 62px;
	 left: 22px;
}
 .lds-default div:nth-child(10) {
	 animation-delay: -0.9s;
	 top: 66px;
	 left: 37px;
}
 .lds-default div:nth-child(11) {
	 animation-delay: -1s;
	 top: 62px;
	 left: 52px;
}
 .lds-default div:nth-child(12) {
	 animation-delay: -1.1s;
	 top: 52px;
	 left: 62px;
}
 @keyframes lds-default {
	 0%, 20%, 80%, 100% {
		 transform: scale(1);
	}
	 50% {
		 transform: scale(1.5);
	}
}
 .loader-button {
	 border: 2.40218px solid var(--theme-loader-border);
	 border-radius: 50%;
	 border-top: 2.40218px solid var(--theme-loader-border-top);
	 width: 21.99px;
	 height: 21.99px;
	 -webkit-animation: spin 0.7s linear infinite;
	/* Safari */
	 animation: spin 0.7s linear infinite;
}
/* Safari */
 @-webkit-keyframes spin {
	 0% {
		 -webkit-transform: rotate(0deg);
	}
	 100% {
		 -webkit-transform: rotate(360deg);
	}
}
 @keyframes spin {
	 0% {
		 transform: rotate(0deg);
	}
	 100% {
		 transform: rotate(360deg);
	}
}
 .scale-in-animation {
	 animation: scale-in 0.2s;
	 -webkit-animation: scale-in 0.2s;
}
 .scale-in-animation-confirm-swap {
	 animation: scale-in 0.3s;
	 -webkit-animation: scale-in 0.3s;
}
 @keyframes scale-in {
	 from {
		 transform: scale(0.98);
	}
	 to {
		 transform: scale(1);
	}
}
 @-webkit-keyframes scale-in {
	 from {
		 transform: scale(0.98);
	}
	 to {
		 transform: scale(1);
	}
}
 
.fade-in{
    animation: fadeIn 1.1s;
    -webkit-animation: fadeIn 1.1s;
    -moz-animation: fadeIn 1.1s;
    -o-animation: fadeIn 1.1s;
    -ms-animation: fadeIn 1.1s;
  }
  .fade-in-3{
    animation: fadeIn 0.3s;
    -webkit-animation: fadeIn 0.3s;
    -moz-animation: fadeIn 0.3s;
    -o-animation: fadeIn 0.3s;
    -ms-animation: fadeIn 0.3s;
  }
  .fade-out-3{
    animation: fadeOut 0.38s;
    -webkit-animation: fadeOut 0.38s;
    -moz-animation: fadeOut 0.38s;
    -o-animation: fadeOut 0.38s;
    -ms-animation: fadeOut 0.38s;
  }
  .opendown-animation{
    animation: openDownwards 0.3s ease-out;
    -webkit-animation: openDownwards 0.3s ease-out;
    -moz-animation: openDownwards 0.3s ease-out;
    -o-animation: openDownwards 0.3s ease-out;
    -ms-animation: openDownwards 0.3s ease-out;
  }
  .closeup-animation{
    animation: closeUpwards 0.2s ease-in ;
    -webkit-animation: closeUpwards 0.2s ease-in;
    -moz-animation: closeUpwards 0.2s ease-in;
    -o-animation: closeUpwards 0.2s ease-in;
    -ms-animation: closeUpwards 0.2s ease-in;
  }
  @keyframes fadeIn {
    0% { 
        opacity: 0; 
        transform: scale(0.99);

    }
    30%{
        opacity: 0.3; 
        transform: scale(0.99);
    }
    100% { 
        opacity: 1;
        transform: scale(1);
     }
  }
  @keyframes fadeOut {
    0% { 
        opacity: 1;
        transform: scale(1);

    }
    30%{
        opacity: 0.3; 
        transform: scale(1);
    }
    100% { 
        
		opacity: 0; 
        transform: scale(0.99);
     }
  }
  @keyframes openDownwards {
    0% { 
        /* transform: scaleY(0.6); */
        height: 0px;
        overflow-y: hidden;
        display: block;
		padding-top: 0;
    padding-bottom: 0;
		
    }
    100% { 
        /* transform: scaleY(1); */
        height: 200px;
        display: block;
		padding-top: 1.25rem;
    padding-bottom: 1.25rem;
	overflow-y: hidden;
     }
  }
  @keyframes closeUpwards {
    0% { 
        /* transform: scaleY(0.6); */
        height: 200px;
        overflow-y: hidden;
		padding-top: 1.25rem;
    padding-bottom: 1.25rem;

    }
    100% { 
        /* transform: scaleY(1); */
        height: 0px;
        overflow-y: hidden;
		display: none;
		opacity: 0;
		padding: 0;
     }
  }
  .rotate-180{
	transform: rotateZ(-180deg);
	transition: all 0.4s ease;;
  }
  .rotate-0{
	transform: rotateZ(0deg);
	transition: all 0.4s ease;;
  }

  /* animating circle */
  .cicle_animation{
	  overflow: hidden;
  }
  .cicle_animation > .circle {
	position: absolute;
	right: 10px;
	bottom: 10px;
	transform: translateX(-50%) translateY(-50%);
	width: 160px;
	height: 160px;
}
.cicle_animation > .circle:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(157,92,255,0.1);
	border-radius: 50%;
	animation: circle 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite alternate;
}
.cicle_animation > .circle2 {
	position: absolute;
	right: 10px;
	bottom: 20px;
	transform: translateX(-50%) translateY(-50%);
	width: 200px;
	height: 200px;
}
.cicle_animation > .circle3 {
	position: absolute;
	right: 10px;
	bottom: 10px;
	transform: translateX(-50%) translateY(-50%);
	width: 160px;
	height: 160px;
}
.cicle_animation > .circle3:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(38, 25, 84, 0.392);
	border-radius: 50%;
	animation: circle3 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite alternate;
}
.cicle_animation > .circle2:after {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background-color: rgba(157,92,255,0.1);
	border-radius: 50%;
	animation: circle2 4s cubic-bezier(0.455, 0.03, 0.515, 0.955) -0.4s infinite alternate;
}
@keyframes circle {
	0% {
		transform: scale(0.8);
		top: 0px;
		left: 0px;
		filter: blur(14px);
   }
	50% {
		transform: scale(1);
		top: 80px;
		left: -80px;
		filter: blur(6px);
		-webkit-filter: blur(6px);
		background-color: rgba(14,8,23,0.1);

   }
	100% {
		transform: scale(0.8);
		top: -10px;
		left: 10px;
		filter: blur(14px);
		-webkit-filter: blur(14px);
   }
}
@keyframes circle2 {
	50% {
		transform: scale(1);
		top: -10px;
		left: 60px;
		filter: blur(9px);
		background-color: rgba(157,92,255,0.1);
   }
	0% {
		transform: scale(0.8);
		top: 10px;
		left: -80px;
		filter: blur(7px);
		-webkit-filter: blur(7px);
		background-color: rgba(14,8,23,0.1);

   }
	100% {
		transform: scale(0.8);
		top: 10px;
		left: -80px;
		filter: blur(8px);
		-webkit-filter: blur(8px);
		background-color: rgba(14,8,23,0.1);

   }
}

@keyframes circle3 {
	50% {
		transform: scale(0.9);
		top: -140px;
		left: 60px;
		filter: blur(9px);
		/* background-color: rgba(14,8,23,0.3); */
   }
	0% {
		transform: scale(0.8);
		top: 100px;
		left: 80px;
		filter: blur(7px);
		-webkit-filter: blur(7px);
   }
	100% {
		transform: scale(0.8);
		top: 100px;
		left: 80px;
		filter: blur(8px);
		-webkit-filter: blur(8px);
   }
}
.spin{
	animation:spin 2s linear infinite;
}
@keyframes spin { 
    100% { 
        -webkit-transform: rotate(360deg); 
        transform:rotate(360deg); 
    } 
}
.slideFromTop{
	animation: slideFromtop 0.3s ease-in-out;
}
@keyframes slideFromtop {
    0% {
        transform: translateY(-40px);
		opacity: 0.8;	
    }
    100% { 
		transform: translateY(0px);
		opacity: 1;
     }
  }
  /* slideUpAnimation */
@-webkit-keyframes slide-top {
	0% {
	  -webkit-transform: translateY(0);
			  transform: translateY(0);
	}
	100% {
	  -webkit-transform: translateY(-100px);
			  transform: translateY(-100px);
	}
  }
  @keyframes slide-top {
	0% {
	  -webkit-transform: translateY(50px);
			  transform: translateY(50px);
			  opacity: 0.5;
	}
	100% {
	  -webkit-transform: translateY(0px);
			  transform: translateY(0px);
			  opacity: 1;
	}
  }
  
  .slide-top {
	-webkit-animation: slide-top 0.5s ease-in-out both;
	        animation: slide-top 0.5s ease-in-out both;
  }
  /* end of slideup animation */
  /* fadding flash message */
  /* ----------------------------------------------
 * Generated by Animista on 2022-9-29 21:12:45
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-out-blurred-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-out-blurred-top {
	0% {
	  -webkit-transform: translateY(0) scaleY(1) scaleX(1);
			  transform: translateY(0) scaleY(1) scaleX(1);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
			  transform: translateY(-1000px) scaleY(2) scaleX(0.2);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  -webkit-filter: blur(40px);
			  filter: blur(40px);
	  opacity: 0;
	}
  }
  @keyframes slide-out-blurred-top {
	0% {
	  -webkit-transform: translateY(0) scaleY(1) scaleX(1);
			  transform: translateY(0) scaleY(1) scaleX(1);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  -webkit-filter: blur(0);
			  filter: blur(0);
	  opacity: 1;
	}
	100% {
	  -webkit-transform: translateY(-1000px) scaleY(2) scaleX(0.2);
			  transform: translateY(-1000px) scaleY(2) scaleX(0.2);
	  -webkit-transform-origin: 50% 0%;
			  transform-origin: 50% 0%;
	  -webkit-filter: blur(40px);
			  filter: blur(40px);
	  opacity: 0;
	}
  }
  
  .slide-out-blurred-top {
	-webkit-animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-blurred-top 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
}
/* end of fadding flash */
.animate-pulse-table {
	animation: tableLoading 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
@keyframes tableLoading{
0% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
50% {
	-webkit-transform: scale3d(1.05, 1.05, 1.05);
	transform: scale3d(0.99, 0.90, 0.9);
}
100% {
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
}
}
.scale-in-animation {
	animation: scale-in 300ms ease-in-out forwards;
    transform-origin: top center
  /* animation: scale-in 0.5s;
  -webkit-animation: scale-in 0.5s; */

}

@keyframes scale-in {
	0% {
		transform: scale(0.95);
}
80% {
		transform: scale(0.98);
}
100% {
		transform: scale(1);
}
 
}

@-webkit-keyframes scale-in {
  0% {
		transform: scale(0.95);
}
80% {
		transform: scale(0.98);
}
100% {
		transform: scale(1);
}
}
.tooltipAnimation { 
	animation: fadeOutAni 400ms ease-in-out both;

}




@keyframes fadeOutAni {
	0% {
		opacity: 1; 
	
}

65% {
	opacity: 0.60; 

}
80% {
	opacity: 0.40; 

}
100% {
	opacity: 0; 
	
}
 
}


@-webkit-keyframes fadeOutAni {
	0% {
		opacity: 1; visibility: visible;
}
80% {
	opacity: 0.80; visibility: visible;
}
100% {
	opacity: 0; visibility: hidden;
}
 
}