@tailwind base;
@tailwind components;
@tailwind utilities;
@import './animation.css';
@import './animateTransactionOut.css';
@import './animateRing.css';
@import './switch.css';
@import './switchWithIcon.css';
@import './datePicker.css';


/* 
body.swap {
  background-color: #090015;
  background-size: cover;
  background-image: url('/assets/image/plenty.net_bg.svg'),
    url('/assets/image/Noise4.png');
  color: #ffffff;
}
.animate__animated.animate__fadeInDown {
  --animate-duration: 500ms;
}

} */

html{
  height: -webkit-fill-available;
} 

body{
  height: 100%;
}
body {
  background-color: #090015;
  color: #ffffff;
}
/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  border-radius: 8px;
}
.footerInteraction:hover > rect{ 
  stroke: #9D5CFF;
  stroke-opacity:0.5;
}
.footerInteraction:hover > path{ 
  fill: #9D5CFF;
}
/* Track */
::-webkit-scrollbar-track {
  height: 5px;
  border-radius: 8px;
  background: transparent; 
}
.swap::-webkit-scrollbar {
  width: 0px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  height: 5px;
  border-radius: 8px;
  background: #341e54; 
}
.swap::-webkit-scrollbar-track-piece:end {
  margin-right: 200px; 
}
.swap::-webkit-scrollbar-track-piece:start {
  margin-left: 200px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  height: 5px;
  border-radius: 8px;
  background: #3b2f4f; 
}
.inner::-webkit-scrollbar-track-piece:end {
  margin-right: 350px; 
}
.inner::-webkit-scrollbar-track-piece:start {
  margin-left: 350px;
}
.manage::-webkit-scrollbar-track-piece:end {
  margin-right: 300px; 
}
.manage::-webkit-scrollbar-track-piece:start {
  margin-left: 30px; 
}

.modal::-webkit-scrollbar-track-piece:end {
 
  margin-bottom: 40px;
}
.modal::-webkit-scrollbar-track-piece:start {
 
  margin-top: 20px;
}
.slider-input:focus::placeholder {
  color: transparent;
}
.z-index-max {
  z-index: 9999;
}
.mobile-flex {
  @apply flex md:hidden lg:hidden xl:hidden;
}
.mobile {
  @apply block md:hidden lg:hidden xl:hidden;
}
.gradient{
  background:linear-gradient(90.87deg, #9D5CFF -21.13%, #3C0988 89.93%);
}
.veNFT{
  box-shadow: 0px 2px 41px 4px rgba(71, 16, 154, 0.3);
}
.infoIcon {
  width: 15px !important;
  height: 15px !important;
}

@media (min-width: 320px) and (max-width: 768px) {
  .infoIcon {
    width: 12px !important;
    height: 12px !important;
    min-width: 12px !important;
    min-height: 12px !important;
  }
}
.walletIcon {
  width: 32px !important;
  height: 32px !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  .walletIcon {
    width: 20px !important;
    height: 20px !important;
    min-width: 20px !important;
    min-height: 20px !important;
  }
}
.tokenIconLiq {
  width: 42px !important;
  height: 42px !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  .tokenIconLiq {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
    min-height: 30px !important;
  }
}
.tokenIconLiqRemove {
  width: 34px !important;
  height: 34px !important;
}
@media (min-width: 320px) and (max-width: 768px) {
  .tokenIconLiqRemove {
    width: 24px !important;
    height: 24px !important;
    min-width: 24px !important;
    min-height: 24px !important;
  }
}
.topNavblurEffect {
  backdrop-filter: blur(10px);
  background: linear-gradient(
    89.98deg,
    rgba(11, 1, 25, 0.2) 2.89%,
    rgba(7, 0, 17, 0.2) 100.99%
  );
}
.bottomNavBarMobile {
  background: linear-gradient(
    89.98deg,
    rgba(11, 1, 25, 1) 2.89%,
    rgba(7, 0, 17, 1) 100.99%
  );
}
.pushtoCenter {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.secondtoken:hover .inputSecond {
  background: rgba(14, 8, 23, 0.02);
}
.inputSecond {
  background: rgba(14, 8, 23, 0.02);
}
.notificationShadow{
  filter: drop-shadow(3px 17px 48px rgba(0, 0, 0, 0.08));
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
.selectAtoken{
  box-shadow: 1px 16px 24px rgba(0, 0, 0, 0.75);
}
.z-index-max-pro {
  z-index: 99999999999;
}
.tooltipCustomWithoutBorder{
  opacity: 0.98 !important;
  background-color:transparent !important;
  font-weight: 400 !important;
  color: white !important;
  text-align: left !important;
  border-radius: 12px !important;
  box-shadow:  0px 4px 24px rgb(0 0 0 / 40%) !important;
  padding: 0px 0px !important;
}
.tooltipCustom {
  opacity: 0.98 !important;
  background-color: #160d24 !important;
  border-color: #341e54 !important;
  color: white !important;
  font-weight: 400 !important;
  text-align: left !important;
  border: 1px solid #341e54 !important;
  border-radius: 12px !important;
  box-shadow:  0px 4px 24px rgb(0 0 0 / 40%) !important;
  padding: 16px 19px !important;
}
.tooltipCustomSwap {
  opacity: 0.98 !important;
  background-color: #160d24 !important;
  border-color: #341e54 !important;
  color: white !important;
  font-weight: 400 !important;
  text-align: left !important;
  border: 1px solid #341e54 !important;
  border-radius: 12px !important;
  box-shadow:  0px 4px 24px rgb(0 0 0 / 40%) !important;
  padding: 16px 10px !important;
  left: 5px !important;
}
.tooltipCustomWithoutArrow {
  opacity: 0.98 !important;
  background-color: #160d24 !important;
  border-color: #341e54 !important;
  color: white !important;
  font-weight: 400 !important;
  text-align: left !important;
  border: 1px solid #341e54 !important;
  border-radius: 12px !important;
  box-shadow:  0px 4px 24px rgb(0 0 0 / 40%) !important;
  padding: 8px 19px !important;
}
.playIconTooltip-left::after{
    content: '' !important;
    right: -1px !important;
    top: 50% !important;
    margin-top: 0 !important;
    width: 16px !important;
    height: 16px !important;
    transform: translate(50%, -50%) rotate(217deg) !important;
    border: none !important;
    border-left: 1px solid #341e54 !important;
    border-bottom: 1px solid #341e54 !important;
    background-color: #160d24 !important;
}
.playIconTooltip-right::after{
  content: '' !important;
  left: -17px !important;
  top: 50% !important;
  margin-top: 0 !important;
  width: 16px !important;
  height: 16px !important;
  transform: translate(50%, -50%) rotate(45deg) !important;
  border: none !important;
  border-left: 1px solid #341e54 !important;
  border-bottom: 1px solid #341e54 !important;
  background-color: #160d24 !important;
}
.playIconTooltip-top::after{
  content: '' !important;
  left: 48% !important;
  top: 100% !important;
  margin-top: 0 !important;
  width: 16px !important;
  height: 16px !important;
  transform: translate(50%, -50%) rotate(-45deg) !important;
  border: none !important;
  border-left: 1px solid #341e54 !important;
  border-bottom: 1px solid #341e54 !important;
  background-color: #160d24 !important;
}
.playIconTooltip-bottom::after{
  content: '' !important;
  left: 48% !important;
  top: 0% !important;
  margin-top: 0 !important;
  width: 16px !important;
  height: 16px !important;
  transform: translate(50%, -50%) rotate(134deg) !important;
  border: none !important;
  border-left: 1px solid #341e54 !important;
  border-bottom: 1px solid #341e54 !important;
  background-color: #160d24 !important;
}
.sideNavactive {
  @apply border-r-primary-500  bg-sideBarHover;
}
.progTitle {
  text-transform: lowercase;
}

.close {
  position: relative;
  height: 7px; /* this can be anything */
  width: 7px;  /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.close::before,
.close::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1.5px; /* cross thickness */
 
  background-color: white;
  border-radius: 10px;
}
.close::before {
  transform: rotate(45deg);
}
.close::after {
  transform: rotate(-45deg);
}
.closeHover {
  position: relative;
  height: 7px; /* this can be anything */
  width: 7px;  /* ...but maintain 1:1 aspect ratio */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.closeboxShadow{
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.closeHover::before,
.closeHover::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 1.5px; /* cross thickness */
 
  background-color: #5721A9;
  border-radius: 10px;
}
.closeHover::before {
  transform: rotate(45deg);
}
.closeHover::after {
  transform: rotate(-45deg);
}
.progTitle::first-letter {
  text-transform: uppercase;
}
@layer components {
  .font-medium1 {
    @apply font-medium;
    @apply text-f32;
  }
  .font-big {
    @apply font-medium;
    @apply text-f60;
  }
  .font-big1 {
    @apply font-medium;
    @apply text-f40;
  }
  .font-medium2 {
    @apply font-medium;
    @apply text-f24;
  }
  .font-title1 {
    @apply font-medium;
    @apply text-f20;
  }
  .font-title-f20 {
    @apply font-normal;
    @apply text-f20;
  }
  .font-title2 {
    @apply font-medium;
    @apply text-f18;
  }
  .font-title2-18 {
    @apply font-medium;
    @apply text-f1818;
  }
  .font-title2-normal {
    @apply font-normal;
    @apply text-f18;
  }
  .font-title3 {
    @apply font-medium;
    @apply text-f16;
  }

  .font-body1 {
    @apply font-normal;
    @apply text-f12;
  }
  .font-body2 {
    @apply font-medium;
    @apply text-f12;
  }
  .font-body3 {
    @apply font-normal;
    /*400*/
    @apply text-f14;
  }
  .font-body4 {
    @apply font-medium;
    /*500*/
    @apply text-f14;
  }
  .font-caption1 {
    @apply font-medium;
    @apply text-f12;
  }
  .font-caption2 {
    @apply font-semibold;
    @apply text-f12;
  }
  .font-bold1 {
    @apply font-semibold;
    @apply text-f32;
  }
  .font-bold2 {
    @apply font-semibold;
    /*600*/
    @apply text-f24;
  }
  .font-bold3 {
    @apply font-bold;
    /*700*/
    @apply text-f12;
  }
  .font-title1-bold {
    @apply font-semibold;
    @apply text-f20;
  }
  .font-title2-bold {
    @apply font-semibold;
    @apply text-f18;
  }
  .font-title3-bold {
    @apply font-semibold;
    @apply text-f16;
  }
  .font-subtitle1 {
    @apply font-medium;
    @apply text-f12;
  }
  .font-subtitle2 {
    @apply font-semibold;
    @apply text-f12;
  }
  .font-subtitle3 {
    @apply font-medium;
    @apply text-f14;
  }
  .font-subtitle4 {
    @apply font-semibold;
    @apply text-f14;
  }
  .font-subtitle5 {
    @apply font-normal;
    @apply text-f16;
  }
  .font-subtitle6 {
    @apply font-semibold;
    @apply text-f16;
  }
  .font-caption1-small {
    @apply font-medium;
    @apply text-f10;
  }
  .font-caption2-small {
    @apply font-semibold;
    @apply text-f10;
  }
  .font-text-bold {
    @apply font-bold;
    @apply text-f14;
  }
  .font-input-text {
    @apply font-medium;
    @apply text-f28;
  }
  .font-input-text1 {
    @apply font-semibold;
    @apply text-f2836;
  }
  .font-mobile-text {
    @apply font-medium;
    @apply text-f1416;
  }
  .font-mobile-400 {
    @apply font-normal;
    @apply text-f1015;
  }
  .font-mobile-700 {
    @apply font-semibold;
    @apply text-f1015;
  }
  .font-mobile-f1020 {
    @apply font-medium;
    @apply text-f1020;
  }
  .font-f13 {
    @apply font-medium;
    @apply text-f13;
  }
  .font-mobile-f9 {
    @apply font-normal;
    @apply text-f9;
  }
  .font-f11 {
    @apply font-normal;
    @apply text-f11;
  }
  .font-f11-500 {
    @apply font-medium;
    @apply text-f11;
  }
  .font-f11-600 {
    @apply font-semibold;
    @apply text-f11;
  }
}

.ReactTable .rt-thead {
  background-color: white;
  position: fixed;
  top: 1;
  z-index: 1;
  width: calc(100% - 17px);
  height: 31px;
}
/* @media (min-width: 768px) { */
.colSticky:last-child {
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
  top: 0px;
  background:  linear-gradient(270deg,#0d0714 85.7%,rgba(13,7,20,0) 100.55%);
  backdrop-filter: blur(2px);
  align-self: stretch
  
}
.thSticky:last-child {
  position: -webkit-sticky;
  position: sticky;
  right: 0px;
  top: 0px;
  backdrop-filter: blur(2px);
  background: linear-gradient(270deg,#0d0714 85.7%,rgba(13,7,20,0) 100.55%);
  align-self: stretch
  
}
thead .thSticky:last-child,
tfoot .thSticky:last-child,
.colSticky:last-child {
  background:  linear-gradient(270deg,#0d0714 85.7%,rgba(13,7,20,0) 100.55%);
  
  backdrop-filter: blur(2px);
  
 
  padding-right: 10px;
}
/* } */


 