@tailwind base;
@tailwind components;
@tailwind utilities;
@import './animation.css';



body {
  height: 100%;
  background-size: cover;
  background-image: url('/assets/image/bg.png');
  background-color: #7219F8;
  color: #ffffff;
  background-repeat: no-repeat;
}
@media (min-width: 320px) and (max-width: 991px) {
  body {
    background-color: #7219F8;
    background-image: none
  }
}


html{
  height: -webkit-fill-available;
} 
.shadow{
text-shadow: 0px 3px 39px rgba(0, 0, 0, 0.25);
}

/* width */
::-webkit-scrollbar {
  width: 4px;
  height: 5px;
  border-radius: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  height: 5px;
  border-radius: 8px;
  background: transparent; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  height: 5px;
  border-radius: 8px;
  background: #341e54; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  height: 5px;
  border-radius: 8px;
  background: #3b2f4f; 
}


.gradient{
  background:linear-gradient(90.87deg, #9D5CFF -21.13%, #3C0988 89.93%);
}
