.switchWithIcon input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

.switchWithIcon label {
  cursor: pointer;
  text-indent: -9999px;
  width: 53px;
  height: 30px;
  background: #2a0b5b;
  display: block;
  border-radius: 19px;
  position: relative;
}

.switchWithIcon label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 4px;
  width: 24px;
  height: 24px;
  background-image: url('../src/assets/icon/pools/plus.svg');
  background-repeat: no-repeat;
  background-color: #9d5cff;
  border-radius: 15.1px;
  transition: 0.3s;
  background-position: center;
}

.switchWithIcon input:checked + label {
  background: #2a0b5b;
}
.switchWithIcon input:checked + label:after {
  left: calc(100% - 3px);
  transform: translateX(-100%);
  background-color: #9d5cff;
  background-image: url('../src/assets/icon/pools/minus.svg');
  background-repeat: no-repeat;
  background-position: center;
}

.switchWithIcon label:active:after {
  width: 34px;
}
